### Basics of Python

Fill valid code/values in place of blanks.

# Demo
# initialize variable 'msg' with the string 'Hello World'
msg = "Hello World"

# Solution
msg = "Hello World"

In [1]:
# initialize variables 'a' and 'b' with 5 and 6 respectively
a = 5
b = 6

# add 'a' and 'b' and assign the result into a new variable 'c'
c = a + b
print(c)

11

In [48]:
# build a function to add 2 numbers
def addition(x,y):
    return(x + y)

# use the function 'addition' to add 'a' and 'b'
addition(a, b)

11

In [3]:
# create a list consisting of first 5 even numbers and print the list
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
# access the 3rd element of the list 'my_list'
my_list[2]

3

In [5]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'
my_dict = {'name':'Smith',
           'age':34,
           'gender': 'Male',
           'is_employed': False}

# print 'my_dict'
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': False}

In [6]:
# access value under 'name' key from 'my_dict'
my_dict['name']

'Smith'

In [7]:
# update 'is_employed' key to True
my_dict.update({'is_employed': True})

# print the updated dictionary
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': True}

In [8]:
# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Please download the file "data_python.csv".

In [36]:
# import required libraries
import pandas as pd
import numpy as np

In [38]:
## read data_python.csv using pandas
mydata = pd.read_csv(r'C:\Users\yunus\Downloads\data_python.csv')

In [40]:
## print the number of rows and number of columns of mydata
mydata.shape

(614, 13)

In [42]:
## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe
target = mydata['Loan_Status']
target

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [44]:
## print the datatype of ApplicantIncome feature
print(mydata['ApplicantIncome'].dtype)

int64

In [45]:
## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'
if(mydata['Education'][20] == 'Graduate'):
    print('Yes')
else:
    print('No')

No

In [49]:
## print 31st to 35th rows of mydata
mydata.iloc[30:35]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N

In [50]:
## print first 5 rows of 2nd and 3rd column only
mydata.iloc[:5,1:3]

  Gender Married
0   Male      No
1   Male     Yes
2   Male     Yes
3   Male     Yes
4   Male      No